<%- include('partials/head') %>

    <% if (user) { %>
        <h1>Welcome to Task Manager <%= user.username %>!</h1>
        <p></p>
    <% } else { %>
        <h2>Welcome to Task Manager guest </h2>
        <h1>Track your tasks efficiently and stay organized with our Task Manager</h1>

    <% } %>

<%- include('partials/footer') %>